.grid-container {
    display: grid;
    background-color: yellow;
    margin: auto;
    height: 500px;
    width: 500px;
}

.grids-rows {
    background-color: black;
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.grids-columns {
    background-color: red;
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    border: 0px;  
}

h1 {
    text-align: center;
}