.grid-container {
    display: grid;
    background-color: yellow;
    margin: auto;
    height: 500px;
    width: 500px;
}

.grids {
    background-color: black;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

h1 {
    text-align: center;
}